:root {
  --dark: 5%;
  --light: 95%;
}

body {
  background-color: hsl(196,0%,var(--light));
  color: hsl(196,0%,var(--dark));
  font-family: system-ui-serif;

  @media (prefers-color-scheme: dark) {
    background-color: hsl(196,0%,var(--dark));
    color: hsl(196,0%,var(--light));
  }
}

header {
  display: flex;
  align-items: center;
}

h1 {
  font-family: system-ui;
  font-size: 1.5rem;
  padding: 0;
}

header button {
  background-color: #000;
  border: none;
  color: #fff;
  font-family: system-ui-serif;
  height: 2.5rem;
  line-height: 100%;
  padding: 0;
  width: 2.5rem;
}

header .smaller {
  font-size: 1.5rem;
  margin: 0 1rem 0 auto;
}

header .bigger {
  font-size: 2rem;
}

header button span {
  display: none;
}

ul {
  font-size: 1.5rem;
  margin-top: 0;
}

.big {
  font-size: 2rem;
}

li {
  padding: 1.5rem 0;
}

li span {
  cursor: zoom-out;
}

.hidden {
  background-color: hsl(196,0%,var(--dark));
  color: hsl(196,0%,var(--dark));
  cursor: zoom-in;
  border-radius: 2rem;
  padding: 0 0.5rem;
}
